.App {
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.landbutton{
  position: fixed;

}
.Modal {
  z-index: 4;
}

button:hover{

  background-color: chartreuse;
  
}
.single-image{
  object-fit: cover;
  max-width: 150px;
  height: 20%;
  margin: 0;
  
}
.left-image-sidebar{
  padding-right: 0;
  display: flex;
  flex-direction: column;
  
}
.bigCalendar{
height:1000px ;
width: 104%;
margin: 1px;
}
.right-image-sidebar{
  padding-right:0px;
  display: flex;
  flex-direction: column;
}

.center-content {
  height: 100vh;
  width: 70vw;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

